/*/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

/*.bad-guys {
  background-image: url("broccoli.png");
  background-color: #cccccc;
}

.good-guy {
  background-image: url("pizza.png");
  background-color: #cccccc;
}*/
